body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  max-width: 70%;
  margin-bottom: 10px;
}

/* just a test */

h1 {
  margin-bottom: 30px;
}

.purchase-card {
  width: 50%;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  margin-top: 10px;
}

.prod-container {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.show-grid {
  padding-bottom: 20px;
}

.bottom-15 {
  margin-bottom: 15px;
}

.bottom-25 {
  margin-bottom: 25px;
}

.old-price {
  text-decoration: line-through;
}

.apply-btn {
  float: right;
}

.valid,
.invalid {
  position: relative;
  top: -25px;
}

.promo {
  display: none;
}

.valid {
  color: green;
  display: block;
}

.invalid {
  color: red;
  display: block;
}
